.btnVoltar {
    position: absolute;
    top: 10px;
    left: 100px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.imgBtnVoltar {
    width: 5%; /* Use porcentagem para tornar a imagem responsiva */
    height: auto; /* Mantenha a proporção de altura automática */
}

.btnVoltar:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .imgBtnVoltar {
        width: 10%; /* Aumente o tamanho da imagem para telas menores */
    }
}
