body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Agdasima', sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Mitr', sans-serif;
}

.profile-card {
    width: 50%;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: rgba(82, 113, 255);
    border-radius: 5px;
}

.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
}

.profile-data {
    margin-left: 20px;
}

.title-table{
    color: black;
}

.profile-data p {
    margin: 5px 0;
}

.tag {
    margin-top: 10px;
}

.profile-card p{
    color: white;
}

.profile-card p span{
    color: black;
    font-weight: bold;
}

.profile-card a{
    text-decoration: none;
    color: black;
}

.profile-card a:hover{
    text-decoration: underline;
    font-weight: bold;
}

table{
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
}

td{
    width: 100px; /* Defina um tamanho fixo para todas as células */
}

.profile-card button{
    width: calc(80% + 20px); /* Ajuste a largura conforme necessário */
    padding: 10px;
    margin-top: 10px; /* Adicione um espaçamento superior para separá-lo dos campos de entrada */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Agdasima', sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Mitr', sans-serif;
    background-color: #fff; /* Cor de fundo do botão */
    color: black; /* Cor do texto do botão */
    cursor: pointer; /* Mostrar um cursor de apontar ao passar o mouse */
}

.profile-card button:hover{
    transition: 2s;
    color: rgba(82, 113, 255);
}

/* Estilos para telas menores (até 768px) */
@media (max-width: 768px) {
    .profile-card {
      flex-direction: column;
      width: 100%;
    }

    .profile-image {
      width: 100%;
    }

    .profile-data {
      width: 100%;
    }

    table {
        font-size: 14px;
    }
  }