body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Agdasima', sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Mitr', sans-serif;
}

h1{
    text-align: center;
}

button {
    width: calc(80% + 20px); /* Ajuste a largura conforme necessário */
    padding: 10px;
    margin-top: 10px; /* Adicione um espaçamento superior para separá-lo dos campos de entrada */
    margin: 0 auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Agdasima', sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Mitr', sans-serif;
    background-color: #fff; /* Cor de fundo do botão */
    color: black; /* Cor do texto do botão */
    cursor: pointer; /* Mostrar um cursor de apontar ao passar o mouse */
}

button:hover{
    transition: 2s;
    color: rgba(82, 113, 255);
}

label {
    float: left;
    clear: left; /* Garante que os rótulos estejam acima dos campos de entrada */
    margin-right: 10px; /* Adiciona espaço entre o rótulo e o campo de entrada */
}

select{
    float: right;
    clear: top; /* Garante que os rótulos estejam acima dos campos de entrada */
}

input[type="number"] {
    float: right;
    width: 25%;
}

@media (max-width: 900px) {
    .tabela-agenda .dias-agenda td{
        display: block;
        width: 100%; /* Ocupa toda a largura disponível */
        box-sizing: border-box; /* Para garantir que o padding e a borda sejam contabilizados na largura total */
        margin-bottom: 10px; /* Adiciona espaço entre as células */
    }
}